// SECTION :: START

section#system.system
  .c-grid
    .system__wrapper

      h2.system__title.c-title.c-title--center!= "TIER SYSTEM <br>How it works"
      .system__line.c-line.c-line--center
      p.system__desc.c-desc.c-desc--center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus error in nobis nulla quisquam repellendus saepe voluptatem. Consequuntur corporis eaque eum eveniet facilis ipsum, modi, neque optio quos, tempora veritatis.

      h3.system__subtitle The System

      .system__box
        div
          p.system__describe.c-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem doloremque eos est explicabo incidunt ipsa nam quos ratione sit tempore. Accusantium doloremque eos eum id ipsa nesciunt nihil nobis sit vitae? Animi fuga obcaecati quaerat quisquam rerum sequi suscipit vitae?
        div

          .system__images
            div
              h3 Gold
              img(src="img/img-foundation-gold.png" alt="")
              p 30 PTS
            div
              h3 Platinum
              img(src="img/img-foundation-platinum.png" alt="")
              p 25 PTS
            div
              h3 Bronze
              img(src="img/img-foundation-bronze.png" alt="")
              p 20 PTS
            div
              h3 Marble
              img(src="img/img-foundation-marble.png" alt="")
              p 15 PTS

      h3.system__subtitle Net point value foundation 1
      .system__box
        div
          p.system__describe.c-desc!= "The sum of your <br><strong><u>NFT POINTS = YOUR SCORE</u></strong>"
        div
          ul
            li
              h3!= "<strong><u>TIER I</u></strong>"
              p RANK
              span 1 - 300
            li
              h3!= "<strong><u>TIER II</u></strong>"
              p RANK
              span 301 - 600
            li
              h3!= "<strong><u>TIER III</u></strong>"
              p RANK
              span 601 - 1200
          p.system__describe.c-desc.c-desc--center Your score VS other member scores = YOUR RANK. Your rank will determine your tier (your rand and tier will be displayed on the leaderboard)

      h3.system__subtitle The Tiers
      p.system__describe.c-desc.c-desc--center The Tier System Is A Way For Us To Continuously Reward Our NFT Holders Over Time. Your Tier, Determined By Your Ranking, Will Grant You Access To A List Of Benefits. Such As Events, Exclusive Opportunities, Private Access, And Private Giveaways, Where We Will Distribute Material Goods(Trips, Concert Tickets, Luxury Items, Etc.). There Are 3 Tiers. Tiers I, II, And III. Tier I, Having The Highest Valued Prizes And Tier III, The Lowest Valued Prizes. The Only Way To Increase Your Ranking And Climb The Tiers, Is To Gain More Points And Raise Your Score. The Only Way To Lose Your Tier Ranking Is If You Are Surpassed By Another Member With A Higher Score Than You. There Currently Are 100 Tier I Positions, 300 Tier II Positions, And 600 Tier III Positions. Being A Tier Member Is Like Having A Lottery Ticket You Can Keep Reusing. Straight Forward Utility.

// SECTION :: END
